{% extends "sdn/base-home.html" %}
{% block content %}
    <div class="container">
        {% if tenants %}
            <h2 class="mt-5">Data Plane Visualization</h2>
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Tenant Name</th>
                    <th scope="col">Long ID</th>
                    <th scope="col">Controller</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for tenant in tenants %}
                    <tr>
                        <td>{{ tenant.name }}</td>
                        <td>{{ tenant.long_id }}</td>
                        <td>{{ tenant.controller }}</td>
                        <td class="text-center"><a href="{% url 'sdn:tenant-visualization' tenant.id %}" class="btn btn-outline-info" role="button"><i class="fa fa-sync"></i> Sync</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No tenants are available.</p>
        {% endif %}
    </div>
{% endblock %}